.image-to-show {
    width: 400px;
    height: 400px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .timer-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  #timer {
    font-size: 18px;
    margin-left: 10px;
    
  }